.content-section__p-text {
    padding: 0;
    margin: 0;
}



.content {
    // padding-top: 32px;
    // margin-right: 24px;
    display: flex;
    flex-direction: column;
}


.content-section {
    display: flex;
    flex-flow: column;
    margin-left: 24px;
    margin-top: 48px;
    margin-right: 0;

    flex-basis: 50%;

    // width: 50%;
    // flex-shrink: 2;
}

.content-section__button {
    margin-left: 10px;
    border: 0px solid #B8FFEC;
    font-size: 16px;
    font-family: "TT Lakes";
    padding: 0;
    font-weight: 500;
    min-width: 132px;
    height: 24px;
    border: 0px;
    color: #1B1C21;
    text-align: left;
    
    order: 2;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: transparent;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.content-section__button--with-position {
    display: none;
}

.content-section__button--with-position:first-child {
    display: flex;

}

.content-section__text-button {  
    margin-top: 2px;
}


.content-section__img-button {
    padding: 0;
    margin: 0;
}


.content-section__list-text {
    // max-height: 90px;
    // height: 90px;

    // flex-grow: 2;

    margin-right: 24px;
    overflow: hidden;
    min-width: 196px;
    min-height: 132px;
    // max-height: 240px;
}

// #text.content-section__button:focus ~ .content-section__text {
//     overflow: visible;
//     max-height:fit-content;
// }

.content__logo { 
    margin: 0;
    flex-basis: 50%;
    // flex-grow: 1;

    // margin-left: auto;
    // margin-right: auto;

    border-radius: 3%;

    // height: 176px;
    width: 100%;
    height: 100%;

    // height: 100px;

    // margin-right: -24px;
    object-fit: contain;
    // width: 320px;
}

.content-section__title {
    text-transform: uppercase;
    font-size: 16px;
    color: rgba(126, 126, 130, 1);
    line-height: 24px;
    font-weight: 400;

    /* padding-left: 24px; */
}

.content-section__table-text {
    margin-top: 32px;
}

.content-section__img-button--red-line {
    margin-top: 4.35px;
    padding-left: 15.4px;
}



@media(min-width: 594px) {
    .content-section__list-text {
        // max-height: 160px;
        margin-right: 16px;
        // height: 160px;
    }
    .content__logo {
        width: auto;
        margin-top: 48px;
        // margin-right: 0;
    }
    .content {
        flex-direction: row;
        margin-right: 24px;
    }
    .content-section__section {
        margin-right: 24px;
    }
}

@media(min-width: 1130px) {  
    .content__logo {
        // height: 307px;
    }
}

@media(max-width: 1129.5px) and (min-width: 564px) {
    .content__logo {
        // height: 208px;
    }
    .content-section { 
        margin-right: 0;
    }
}

@media(min-width: 760px) {
    // #brand.content-section__button {
    //     display: none;
    // }
    .content-section__button--with-position {
        display: flex;
      }
}

// @media(min-width: 1440px) {
//     .content-section {
//         width: 1000px;
//         margin-left: auto;
//         margin-right: auto;
//       }
// }